.size {
  line-height: 0;
  position: relative;
  z-index: 0; 
}

.svg {
  display: block;
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.path {
  fill: #ffffff;
}