.style{
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0px;
}
@media (min-width: 769px){
  .style{
    font-size: clamp(2rem, 2.5vw, 2.5rem);;
  }
}