.style{
    display: none;
    margin: 10px;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    color: #d02929;
}