.style{
    font-family: "Poppins", serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    gap: 7px;
    color: #ffffff;
    background-color: #407bff;
}