.style{
    font-family: "Rubik", sans-serif;
    font-size: 22px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin: 0px;
    color: #2B3050;
    display: inline-block;
}
@media (min-width: 769px){
  .style{
    font-size: clamp(1.5rem, 2vw, 2rem);
  }
}


.style::after {
    content: "";
    display: block;
    width: 50px;         
    height: 6px;        
    background: #FA854B; 
    margin: 15px auto 0; 
}