.sign-in-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;
    background: linear-gradient(to bottom, #FFFFFF 50%, #2B3050 50%);
}
@media (min-width: 769px){
  .sign-in-container{
    padding: 20px 20px;
  }
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
