.style{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.name,
.email,
.message{
    width: 100%;
    max-width: 450px;
    padding: 15px;
    border: solid 1px #FA854B;
    border-radius: 20px;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}