.user-data-section{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 100px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}