.style{

    font-family: "Poppins", serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 60px;
    margin: 0px;
    color: #FFECE1;
}
@media (min-width: 960px){
    .style{
        padding-top: 40px;
        font-size: 14px;
    }
} 

.style:hover{
    cursor: pointer;
    text-decoration: underline;
} 