.style{
    font-family: "Poppins", serif;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 60px;
    color: #FFECE1;
}
.style:hover{
    cursor: pointer;
    text-decoration: underline;
} 