.style{
    width: 100%;
    max-width: 300px;
    display: inline-block;     
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: 7px;
    padding: 13px;
    position: relative;             
    overflow: hidden;               
    transition: color .35s;  
    color: #FFFFFF;
    background: #FA854B;
}

.style::after{
    content: "";
    position: absolute;
    inset: 0;                   
    background: #2B3050;
    z-index: 1;
    border-radius: inherit;
    pointer-events: none;
    transform: scaleX(0);        
    transform-origin: right;       
    transition: transform .35s ease;
}

.style:hover{
    cursor: pointer;
    background: #fa774b;
}

.style:hover::after{
    transform: scaleX(1);         
    transform-origin: left;     
}

.text{
    margin: 0px;
    position: relative;
    z-index: 2; 
}