.style{
    width: 100%; 
    max-width: 340px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: 7px;
    padding: 13px;  
    color: #FFFFFF;
    background: #FA854B;
}

.style:hover{
    cursor: pointer;
    background: #fa774b;
}
