.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    padding: 60px 40px;
    gap: 50px;
    box-shadow: 0 0 4px 2px #a5a5a5;
    background-color: #FCFCFC;
}

.title-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.input-and-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 25px;
}
