.style {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal {
    background-color: #2B3050;
    border-radius: 16px;
    padding: 32px;
    width: 90%;
    max-width: 400px;
    position: relative;
}

.close {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
}

.title{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    padding: 20px 0px;
    color: #ffffff;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    gap: 40px;
}

.fieldset{
    width: 100%;
}