.menu{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    z-index: 100;
}

.bar{
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 10px;
    background-color: #2B3050;
    transition: 200ms ease-in-out;
}

.bar:first-child {
  transform: rotate(45deg);
}

.bar:last-child {
  transform: rotate(-45deg);
}