.style{
    margin: 0px;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    border: none;
    color: #414456;
    background-color: transparent;
}