.style{
    padding: 20px 20px 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.report-pet-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 80px 0px;     
    gap: 40px;
}

.buttons-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}