.welcome-section{
    padding-top: 35px;
}
@media (min-width: 769px){
  .welcome-section{
    padding: 45px 0px;
  }
}

.welcome-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
} 
@media (min-width: 769px){
  .welcome-container{
    padding: 0px 25px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
}

.title-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}
@media (min-width: 769px){
  .title-container{
    align-items: flex-start;
  }
}

.buttons-container{
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
@media (min-width: 769px){
  .buttons-container{
    flex-direction: row;
  }
}

.how-it-works-section{     
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding: 30px 0px;
    margin-top: -1px;
    gap: 50px;
    background: #F6E6DB; 
}
@media (min-width: 769px){
  .how-it-works-section{
    gap: 20px;
  }
}

.how-it-works-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
@media (min-width: 769px){
  .how-it-works-container{
    width: 100%;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: left;
  }
}

.how-it-works-text-and-line-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
@media (min-width: 769px){
  .how-it-works-text-and-line-container{
    flex-direction: row-reverse;
    padding-bottom: 7vw;
    gap: 40px;
  }
}

.how-it-works-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
@media (min-width: 769px){
  .how-it-works-text-container{
    align-items: flex-start;
    padding-right: 20px;
  }
}

.customers-review-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
    margin: 40px 0px;
    gap: 50px;
}

.customer-card-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}
@media (min-width: 769px){
  .customer-card-container{
    flex-direction: row;
    gap: 3vw;
  }
}

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px 70px 50px;
    gap: 40px;
}
@media (min-width: 769px){
  .contact-section{
    padding-top: 60px;
  }
}
