.sign-up-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    background: linear-gradient(to bottom, #FFFFFF 50%, #2B3050 50%);
}
