.nav-container{
    display: none;
}
@media (min-width: 769px){
    .nav-container{
        display: inherit;
    }
}

.nav{
    display: flex;  
    flex-direction: row;
    gap: 30px;
}
  
.nav-item{
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    position: relative;
    color: #2B3050;
}

.nav-item:hover{
    cursor: pointer;
}

.nav-item::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
    background-color: #2B3050;
} 

.nav-item:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}