.style{
    max-width: 700px;
    padding: 0px 60px;
    font-family: "Rubik", sans-serif;
    font-size: 17px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin: 0px;
    color: #2B3050;
}
@media (min-width: 769px){
  .style{
    padding: 0px;
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    max-width: 680px;
  }
}