.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #2B3050;
}

.logo-and-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-media{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 15px;
}