.style{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.pet-info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
