.style{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    margin: 0px;
    color: #3E3E3E;
}

.span-text{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #E87B45;
}

.span-text:hover{
    cursor: pointer;
    text-decoration: underline;
}