.style{
    font-family: "Poppins", serif;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    margin: 0px;
    color: #3E3E3E;
}

.span-text{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    color: #E87B45;
}

.span-text:hover{
    cursor: pointer;
    text-decoration: underline;
}