.style{
    max-width: 300px;
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: 0px;
    color: #2B3050;
}
@media (min-width: 769px){
  .style{
    text-align: left;
    max-width: 450px;
    font-size: clamp(2rem, 2.8vw, 3rem);
  }
}

.underlined{
    text-decoration: underline;
    text-decoration-color: #ffa980;
    text-decoration-thickness: 8px;
    text-decoration-skip-ink: none;
    text-underline-offset: -5px;
}
