.style{
    font-family: "Cherry Bomb One", serif;
    font-size: 38px;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    color: #FA854B
}
@media (min-width: 960px){
    .style{
        color: #FFFFFF;
    }
} 