.menu{
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 300ms ease-in-out;
  cursor: pointer;
  gap: 8px;
}

.bar{
  height: 4px;
  width: 40px;
  border-radius: 10px;
  transition: 200ms ease-in-out;
  background-color: #FA854B;
}

.active .bar:nth-last-child(1){
  transform: translateY(-12px) rotate(-45deg);
}

.active .bar:nth-last-child(2){
  opacity: 0;
}

.active .bar:nth-last-child(3){
  transform: translateY(12px) rotate(45deg);
}