.style{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    margin: 0px;
    color: #ffffff;
}
@media (min-width: 769px){
  .style{
    font-size: 30px;
  }
}