.style{
    width: 100%;
    font-family: "Poppins", serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: 7px;
    padding: 13px;
    color: #FFFFFF;
    background-color: #3d3a39;
}

.style:hover{
    cursor: pointer;
    background-color: #2c2928;
}