.style{
    max-width: 250px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    margin: 0px;
    color: #2B3050;
}
@media (min-width: 769px){
  .style{
    text-align: left;
    max-width: 450px;
    font-size: clamp(1.3rem, 1.8vw, 1.2rem);
  }
}