.style{
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    color: #2B3050;
}
@media (min-width: 769px){
  .style{
    font-size: clamp(1.3rem, 1.8vw, 1.8rem);
  }
}