.close-navbar-button {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 100;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed; 
  top: 0;
  right: 0;
  height: 650px;
  margin: 0;
  padding: 50px;
  border-radius: 30px 0 0 30px;
  gap: 100px;
  background-color: #f5f5f5;
  transform: translateX(100%); 
  transition: transform 0.3s ease-in-out;
  z-index: 3;  
}

.items-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  gap: 50px;
}

.report,
.pets-reported,
.data{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.nav-item{
  margin: 0px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #414456;
}

.user-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}

.active {
  transform: translateX(0); 
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(8, 6, 4, 0.8);
  z-index: 3;
}

